/target
/.browser
/data/
!/data/indexes/
!/data/indexes/civitai/
!/data/indexes/civitai/config.json
/data-*/
*.redb
/benchmark_*.txt
*.stackdump
server_*_stderr.log
server_*_stdout.log
server_stderr.log
server_stdout.log
